@model IEnumerable<SportNews.Models.Entities.Account>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}

<h2 style="margin-left:20px">Quản lý tài khoản</h2>

<span class="badge bg-primary" style="font-size:20px ; margin-left:20px"><a href="/Admin/Accounts/Create">Thêm mới tài khoản</a></span>
<div class="card">
    <div class="card-body">
        <table class="table table-bordered">
            <tr>
                <th class="text-center">
                    Quyền
                </th>
                <th class="text-center">
                    Tên người dùng
                </th>
                <th class="text-center">
                    Địa chỉ
                </th>
                <th class="text-center">
                    Số điện thoại
                </th>
                <th class="text-center">
                    Tài khoản
                </th>
                <th class="text-center">
                    Mật khẩu
                </th>
                <th class="text-center">
                    Thao tác
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Permission.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.phonenumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.password)
                    </td>
                    <td>
                        <span class="badge bg-warning"><a href="/Admin/Accounts/Edit/@item.id">Sửa</a></span> |
                        <span class="badge bg-success"><a href="/Admin/Accounts/Details/@item.id">Chi tiết</a></span> |
                        <span class="badge bg-danger"><a href="/Admin/Accounts/Delete/@item.id">Xóa</a></span>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
